body {
    background-color: rgba(161, 73, 107, 0.822);
}


h1 {
    text-align: center;
    margin-top: 30px;
}

.FibonacciBtn {
    margin-left: 49%;
    font-size: large;
}

.FibonacciBtn2 {
    margin-left: 49%;
    margin-top: 25px;
    font-size: large;
}

.fibonacci {
    margin-left: 44%;
    margin-top: 20px;
    background: -webkit-linear-gradient(black, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.BtnGoFibonacci {
    margin-left: 47%;
    margin-top: 25px;
    font-size: larger;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.world {
    position: relative;
    display: flex;
    align-items: center;
    height: 600px;
    width: 390px;
    overflow: hidden;
    transition: all 1s ease;
}

.map {
    position: relative;
    float: left;
    height: 150px;
    width: 50px;
    margin: 15px;
    overflow: hidden;
    transition: all 1s ease
}

.map-selected {
    height: 600px;
    width: 200px;
}

.img {
    position: absolute;
    left: 50%;
    transform: translateX(-44%);
    height: 100%;
}

.arrow {
    font-size: 45px;
    font-weight: 900;
    cursor: pointer;
}